langchain
python-dotenv
langchain-openai
ipykernel
langchain-community
pypdf
bs4
huggingface_hub
beautifulsoup4
streamlit
langchain_groq
langchain_core
fastapi
uvicorn
langserve
sse_starlette
sentence_transformers
torchvision
faiss-cpu
arxiv
wikipedia
ddgs
langchain-huggingface
genanki
mysql-connector-python
SQLAlchemy